@model UpdateSatelliteModel

<form asp-action="Update" asp-controller="Satellite" asp-area="Admin" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.SatelliteId" />

    <div class="form-group">
        <label>Satellite Name :</label>
        <span asp-validation-for="@Model.SatelliteName" class="text-danger"></span>
        <input asp-for="@Model.SatelliteName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Satellite Info :</label>
        <span asp-validation-for="@Model.SatelliteInfo" class="text-danger"></span>
        <input asp-for="@Model.SatelliteInfo" class="form-control" />
    </div>

    <div class="form-group">
        <label>Satellite Image :</label>

        <input type="file" asp-for="@Model.Picture" class="form-control-file" />
    </div>

    <div class="form-group">
        <a asp-action="Index" asp-controller="Satellite" asp-area="Admin" class="btn btn-warning">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section JavaScript {
    <script src="~/jqueryValid/jquery.validate.min.js"></script>
    <script src="~/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}